# udev device name of the macro control HID report descriptor
# (This might work for other Via/QMK configurable keyboards but remains untested..)
target_device_name: yushakobo Quick Paint Consumer Control
# Macros which conform to https://github.com/torvalds/linux/blob/de5cb0dcb74c294ec527eddfe5094acfdb21ff21/include/uapi/linux/input-event-codes.h#L707-L736
# Details of these custom macro definitions and handling can be accomplished via
# three handlers (on_press, on_release, on_hold)
#
# on_hold doesn't seem to work with the current implementation.
#
# Currently there are two different handler types
# - bash
# - slack
#
# These types are defined in the respective <entity>-command.go files
# Any additions to this should utilize a similar format.
#
# <handler>.details is unique to each command type.
macros:
  - name: KEY_MACRO29
    on_press:
      type: bash
      details:
        entrypoint: echo
        args:
          - hello
          - world
  - name: KEY_MACRO30
    on_press:
      type: slack
      details:
        slack_token: MY_FAKE_TOKEN
        channel_id: MY_SLACK_CHANNEL_ID
        as_user: true
        message: my message
